<!--This is the directive, that allows intellisense when editing this cshtml document-->
@model HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
}

<h1>All Characters</h1>

@foreach (var character in Model.Characters)
{
    @Html.Partial("Partials/_Summary", character);
}

<div>
    <a class="btn btn-primary" asp-action="Create">Add Character</a>
</div>