<!--This is the directive, that allows intellisense when editing this cshtml document-->
@model HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
}

<h1 align="center">Home Index</h1>

<div align="center">
    <a class="btn btn-primary" asp-controller="Character" asp-action="Create">Add Character</a>
</div>