<!--This is the directive, that allows intellisense when editing this cshtml document-->
@model HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
}

<h1>All Characters</h1>


<div>
    <a class="btn btn-primary" asp-action="Create">Add Character</a>
</div>